<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158995884756-mtgmf0kd2m40hggabmp4g86csfnflnn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158995884756-mtgmf0kd2m40hggabmp4g86csfnflnn6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>158995884756-763vvt1cdcgb30ubegpgg2f88pkth13i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCmDy9YCdxIIGJxQSiyUFF0vtBzA95utL8</string>
	<key>GCM_SENDER_ID</key>
	<string>158995884756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mighty.blog</string>
	<key>PROJECT_ID</key>
	<string>mighty-blogger</string>
	<key>STORAGE_BUCKET</key>
	<string>mighty-blogger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158995884756:ios:8b75c993d22faf53e1a941</string>
</dict>
</plist>